asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
Django==6.0.4
django-bootstrap5==26.2
idna==3.11
narwhals==2.18.0
numpy==2.4.3
packaging==26.0
pandas==3.0.1
patsy==1.0.2
platformshconfig==2.4.0
plotly==6.6.0
plotly-express==0.4.1
pygame==2.6.1
python-dateutil==2.9.0.post0
requests==2.32.5
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
statsmodels==0.14.6
tzdata==2025.3
urllib3==2.6.3
